# Environment Variables
.env

# Artifacts
obj/
**/bin/Debug/**/*.app
**/bin/Debug/**/*.msCoverage*
**/bin/Debug/**/Coverlet*
**/bin/Debug/**/createdump
**/bin/Debug/*/*.deps.json
**/bin/Debug/*/*.runtimeconfig.json
**/bin/Debug/**/*.items
OpenRCT3/bin/
OpenRCT3.Tests/bin/
bin/OpenRCT3*
bin/open-rct3-test-application
bin/open-rct3-unittest
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.pdb

# Tests
nunit_random_seed.tmp
TestResults/

# Tests for Production OVLs
OpenCobra/Tests/TestRunner/bin/**/ovl-tests.local.json
OpenCobra/Tests/TestRunner/ovl-tests.local.json

# DUB
.dub
docs.json
__dummy.html

# Visual Studio
.vs/**/project-cache/*.json
.vs/OpenRCT3/v18/*
.vs/OpenRCT3/xs/UserPrefs.xml
.vs/OpenRCT3/DesignTimeBuild/*
.vs/OpenRCT3/CopilotIndices/*
.vs/ProjectEvaluation/*
**/FileContentIndex/*.vsidx
*.sln.DotSettings.user

# Code Coverage
*.lst
