# Environment Variables
.env

# Tests
nunit_random_seed.tmp
coverage/
TestResults/

# Tests for Production OVLs
OpenCobra/Tests/TestRunner/bin/**/ovl-tests.local.json
OpenCobra/Tests/TestRunner/ovl-tests.local.json

# Shortcuts
assets/App Data.lnk

# DUB
.dub
docs.json
__dummy.html

############
# Artifacts
############

bin/open-rct3
bin/open-rct3-test-application
bin/OpenRCT3
bin/OpenRCT3 Server
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe

# .NET
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

bin/OpenRCT3*
OpenRCT3/bin/
OpenRCT3.Tests/bin/

# Dub
bin/open-rct3
bin/open-rct3-*
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.pdb

# Visual Studio
.vs/CopilotSnapshots/
.vs/**/project-cache/*.json
.vs/OpenRCT3/v18/*
.vs/OpenRCT3/xs/UserPrefs.xml
.vs/OpenRCT3/DesignTimeBuild/*
.vs/OpenRCT3/CopilotIndices/*
.vs/ProjectEvaluation/*
.vs/slnx.sqlite
**/FileContentIndex/*.vsidx
*.sln.DotSettings.user

# Code Coverage
*.lst

# Node
node_modules/
