# Environment Variables
.env

# Artifacts
obj/
OpenRCT3/bin/
bin/OpenRCT3*
bin/open-rct3-test-application
bin/open-rct3-unittest
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.pdb

# DUB
.dub
docs.json
__dummy.html
docs/

# Visual Studio
.vs/**/project-cache/*.json

# Code Coverage
*.lst
