<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="{{ baseUrl }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{- title ? title + " " + siteTitle : siteTitle }}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/devicons@2.0.1/dist/devicons.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/site.css">
  <!-- Icons & Theme -->
  <link rel="icon" href="favicon.png">
</head>
<body>
  <header class="nav">
    <a class="sr-only shown-on-focus" href="#main">Skip to main content.</a>
    {{ include "partials/logo.vto" }}
    <nav>
      <a href="play">Play</a>
      <a href="{{ forumUrl }}">Forum</a>
      <a href="{{ wikiUrl }}">Help</a>
    </nav>
    <div class="fill"></div>
    <nav class="social">
      <a href="https://github.com/open-rct3/open-rct3#readme">
        <span class="icon devicons devicons-github-icon" title="Open source on GitHub"></span>
      </a>
    </nav>
  </header>
  <main id="main">
    <noscript>
      <div class="alert alert-danger">
        <i class="icon fas fa-exclamation-triangle"></i>
        <p class="message flex">{{ siteTitle }} requires JavaScript to be enabled.</p>
        <a class="btn btn-sm btn-outline-dark" href="https://enablejavascript.com">Enable JavaScript</a>
      </div>
    </noscript>
    {{ include "partials/alert.vto" {
      id: "disclaimer",
      alertTitle: "Disclaimer",
      message: "This is a _community-driven_ project with a clear [roadmap]({{ wikiUrl }}/Roadmap). Expect incremental releases as features are completed, not overnight results."
    } }}
    {{ if notification }}{{ notification }}{{ /if }}
    {{ content }}
  </main>
  <footer>
    <p>Copyright © {{ copyright }}, OpenRCT3 Contributors.</p>
    <p>OpenRCT3 is made with ♥️ by <a target="_blank" href="https://github.com/open-rct3/open-rct3/contributors">its contributors</a>.</p>
  </footer>
  <!-- TODO: <script src="/js/main.js"></script> -->
</body>
</html>
