<{{ if onGamePage }}div{{ else }}a{{ /if }} {{ if !onGamePage }}href="/"{{ /if }} class="logo d-flex align-items-center align-self-end">
  <img src="/logo.png" alt="{{ siteTitle }} Logo">
  {{ if onGamePage }}
  <button class="nub" title="Toggle {{ toggleTitle || "Navigation" }}"><i class="icon fas fa-bars"></i></button>
  {{ else }}
  <span class="wordmark">{{ siteTitle }}</span>
  {{ /if }}
</{{ if onGamePage }}div{{ else }}a{{ /if }}>
