/**
  Primary: #4999DF
  Complementary: #DE8F49
  Analogous: #494EDE, #49DED9
*/
$black: rgb(15, 18, 25);
$gray: rgb(96, 115, 159);
$grayLight: rgb(229, 233, 240);
$grayDark: rgb(34, 41, 57);
$shadowGray: 20, 20, 20;
$accent: #3C98DC;
$accentDark: #28b;
$blackShadowLighter: rgba(15, 18, 25, 10%);
$blackShadowLight: rgba(15, 18, 25, 25%);
$blackShadow: rgba(15, 18, 25, 50%);
$link: #28b;
$linkOutline: rgba(34, 136, 187, 75%);

:root {
  // Colors
  --black: #{$black};
  --shadow-gray: #{$gray};
  --gray-light: #{$grayLight};
  --gray-dark: #{$grayDark};
  --accent: #{$accent};
  --accent-dark: #{$accentDark};
  --black-shadow-lighter: #{$blackShadowLighter};
  --black-shadow-light: #{$blackShadowLight};
  --black-shadow: #{$blackShadow};
  --link: #{$link};
  --link-outline: #{$linkOutline};
}
