a.btn {
  text-decoration: none;
}

// TODO: Extract the other buttons (.btn) here

// Screen reader only

.sr-only {
	position: absolute !important;
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
	overflow: hidden;
	// IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box
	clip: rect(1px 1px 1px 1px);
	// Maybe deprecated, but we try to support legacy browsers
	clip: rect(1px, 1px, 1px, 1px);
	// Modern browsers, clip-path works inwards from each corner
	clip-path: inset(50%);
	// Added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space
	white-space: nowrap;

  &.shown-on-focus:focus {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 4px;
    width: unset;
    height: fit-content;
    border: unset;
    border-radius: 4px;
    overflow: visible;
    clip: initial;
    clip-path: initial;
    // TODO: Extract this into a mixin, i.e. `@include on-top-for-sr();`
    z-index: $onTop;
  }
  &.shown-on-focus:focus-visible {
    outline-color: var(--link);
  }
}

// Alerts

.alert {
  position: sticky;
  top: $headerHeight;
  display: flex;
  align-items: baseline;
  margin-inline: 8px;
  margin-block: 8px 0;
  padding: 8px;
  height: min-content;
  border-color: currentcolor;
  transform: translateY(0);
  transform-origin: top center;
  opacity: 1;
  transition: margin-block 350ms ease-out, padding-block 350ms ease-out, height 350ms ease-out, transform 250ms ease-out, opacity 200ms ease-out;
  transition-delay: 0ms, 0ms, 50ms, 0ms, 0ms;
  overflow: hidden;
  @include on-top();

  &.dismissed {
    margin-block: 0;
    padding-block: 0;
    height: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition-timing-function: ease-out, ease-in, ease-out;
    transition-delay: 0ms, 0ms, 0ms, 0ms, 0ms;
    overflow-y: hidden;
  }

  &.alert-warning {
    background-color: lightgoldenrodyellow;
  }
  &.alert-info {
    color: #043944;
    background-color: var(--skyblue);

    a {
      color: var(--skyblue-contrast);
    }
    a:hover, a:focus {
      text-decoration: underline;
    }
  }
  &.alert-danger {
    color: #290a0d;
    background-color: indianred;
  }

  &:has(p .context.icon) {
    align-items: center;
  }

  h1.title {
    font-size: 0.95em;
    font-weight: bold;
    margin-block: 0;
    margin-inline: 8px;
  }
  p {
    flex: 1;
    display: inline-flex;
    margin: 0;
    font-size: 0.875em;
  }
  p .icon {
    position: relative;
    top: -1px;
    margin-inline-start: 2px;
  }
  .icon + p {
    margin-inline-start: 8px;
  }
  p:has(.context.icon) {
    position: relative;
    top: 2.5px;
  }
  .btn.btn-sm {
    padding-block: 0;
    padding-inline: 0.25em;
    align-self: center;
  }
  p + .btn {
    margin-inline-start: 8px;

    &.btn-close {
      margin-inline-start: 4px;
      cursor: pointer;
    }
  }
}
.alert.notification {
  display: inline-flex;

  button.btn-close {
    margin-inline-start: 8px;
  }
}

// Containers

.container {
  @include make-container();
}

// Jumbotron

.jumbotron {
  display: flex;
  flex-direction: column;
  margin-inline: 12px;
  padding-block: 1rem;
  padding-inline: 0.75rem;
  color: #f8f1f9;
  background-color: #4E5166;
  border-radius: 0.3rem;
  transition: margin-block-start 0.3s ease-out;

  // TODO: mx-sm-auto
  // TODO: mx-3 my-3;

  &:focus-within {
    outline: 2px var(--link) solid;
    outline-offset: 2px;
  }

  a {
    color: white;
  }
}

// Feature Cards

.feature.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow-lowest);

  h3 {
    margin-block: 0 0.5rem;
  }

  p {
    margin: 0;
    color: #6c757d;
  }
}
