@import "./variables";

@mixin on-top() {
  & {
    z-index: $onTop;
  }
}

@mixin backdrop-blur($color: white, $opacity: 75%) {
  & {
    backdrop-filter: blur(8px);
    background-color: rgba($color, $opacity);
    @media (prefers-reduced-transparency) {
      background-color: $color;
      backdrop-filter: none;
    }
  }
}

// FIXME: Why doesn't this work?
@mixin underline-link() {
  & {
    text-decoration: underline 2px transparent;
    transition: text-decoration-color 200ms ease;

    &:hover, &:focus {
      text-decoration: underline 2px var(--accent);
      outline: none;
    }
  }
}

$container-padding-x: 24px;
@mixin make-container($padding-x: $container-padding-x) {
  width: auto;
  margin-inline: auto;
  padding-inline: $padding-x;
}
