html,
body {
  margin: 0;
  height: 100%;
}

body {
  /* See https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-flow: column;
  height: auto;
  min-height: 100%;
}

a {
  color: rgb(0, 0, 238);
  text-decoration: none;
}
a:hover:not(.btn) {
  text-decoration: underline;
}

.flex {
  flex: 1;
}

header, footer {
  padding: 8px;
}
header {
  display: flex;
  padding-block-end: 0;
}

#logo {
  display: flex;
  align-items: center;
}
#wordmark {
  font-size: x-large;
  margin-inline-start: 8px;
}

header nav > ul {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.banner {
  display: flex;
  align-items: center;
  margin: 8px;
  margin-block-end: 0;
  padding: 8px;
  border-radius: 8px;
}
.banner.warn {
  background-color: lightgoldenrodyellow;
}
.banner.info {
  background-color: skyblue;
}
.banner.error {
  background-color: indianred;
}
.banner p {
  margin: 0;
}

main {}

.jumbotron {
  padding: 1.25rem 1rem;
  margin-block: 2rem;
  color: #f8f1f9;
  background-color: #4E5166;
  border-radius: 0.3rem;
}
.jumbotron a.call-to-action {
  background-color: skyblue;
}

footer {
  padding-block-start: 0;
}
footer p {
  margin: 0;
}
