<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <!-- See https://stackoverflow.com/questions/24958021/document-types-vs-exported-and-imported-utis -->
    <!-- See https://developer.apple.com/library/archive/documentation/Miscellaneous/Reference/UTIRef/Articles/System-DeclaredUniformTypeIdentifiers.html -->
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeIconFile</key>
            <string>OvlIcon</string>
            <key>CFBundleTypeIconSystemGenerated</key>
            <integer>0</integer>
            <key>CFBundleTypeName</key>
            <string>OVL Archive</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.openrct3.ovl</string>
            </array>
            <key>NSDocumentClass</key>
            <string>Document</string>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>GUI Icon</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.jpeg</string>
                <string>public.png</string>
                <string>com.microsoft.bmp</string>
                <string>com.microsoft.ico</string>
                <string>com.truevision.tga-image</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Text</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.plain-text</string>
                <string>public.script</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Sound Effect</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.aiff-audio</string>
                <string>public.mp3</string>
                <string>public.mpeg-4-audio</string>
                <string>com.microsoft.waveform-audio</string>
            </array>
        </dict>
    </array>
    <key>CFBundleIdentifier</key>
    <string>me.chancesnow.rct3.dumper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>OVL Dumper</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSExportableTypes</key>
    <array>
        <string>com.openrct3.ovl</string>
    </array>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 OpenRCT3 Contributors. All rights reserved.</string>
    <key>NSMainStoryboardFile</key>
    <string>Main</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <!-- TODO: Move this to the OpenRCT3 app's Info.plist -->
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.composite-content</string>
                <string>public.archive</string>
            </array>
            <key>UTTypeDescription</key>
            <string>OVL Archive</string>
            <key>UTTypeIconFile</key>
            <string>OvlIcon</string>
            <key>UTTypeIdentifier</key>
            <string>com.openrct3.ovl</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>ovl</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
