<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{- title ? title + " " + siteTitle : siteTitle }}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://snow.llc/stylesheets/bootstrap.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://snow.llc/stylesheets/devicons.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/game.css">
  <!-- Icons & Theme -->
  <link rel="icon" href="/favicon.png">
</head>
<body>
  <header class="nav">
    {{ include "partials/logo.vto" { onGamePage: true } }}
    <div class="flex-grow-1"></div>
    <nav>
      <a href="/" target="_blank">Website</a>
      <a href="/" target="_blank">Wiki</a>
      <a href="https://forum.rct3.chancesnow.me" target="_blank">Forum</a>
      <a href="#help">
        <i class="icon fas fa-question" title="Get Help"></i>
      </a>
      <a href="https://github.com/open-rct3/open-rct3#readme" target="_blank">
        <span class="icon devicons devicons-github_badge" title="Open source on GitHub"></span>
      </a>
    </nav>
  </header>
  <main class="game">
    <noscript>
      <div class="alert alert-danger">
        <i class="icon fas fa-exclamation-triangle"></i>
        <p class="message flex">{{ siteTitle }} requires JavaScript to be enabled.</p>
        <a class="btn btn-sm btn-outline-dark" href="https://enablejavascript.com">Enable JavaScript</a>
      </div>
    </noscript>
    {{ content }}
  </main>
  <section id="notifications">
    {{ include "partials/alert.vto" { id: "disclaimer", alertTitle: "Disclaimer", message: "This is a _volunteer-driven_ project. Please temper your expectations accordingly." } }}
    <template id="noWebGpu">
      <!-- TODO: Abstract errors like this, e.g. A "Details" button that opens a modal. Use `[data-troubleshoot-href]` for self-directed investigative links. Also, remind the user this app has no warranty. -->
      {{ include "partials/alert.vto" { type: "warning", icon: "fa-exclamation-triangle", message: "[WebGPU](https://en.wikipedia.org/wiki/WebGPU) is not supported.", action: "<a class=\"btn btn-sm btn-outline-dark\" href=\"https://browserleaks.com/webgpu\">Troubleshoot</a>" } }}
    </template>
  </section>
  <article id="credits" class="panel">
    <h1>Credits</h1>
    <footer class="flex-md-nowrap flex-wrap">
      <p>Copyright © 2024, OpenRCT3 Contributors.</p>
      <p>OpenRCT3 is made with ♥️ by <a target="_blank" href="https://github.com/open-rct3/open-rct3/contributors">its contributors</a>.</p>
    </footer>
  </article>
  <script>
(function () {
  const header = document.querySelector('body > header');
  const nub = header.querySelector("button.nub");
  const nav = header.querySelector("nav");
  // Prevents conflicts between the `nub.onclick` and  the nav's focus events
  let focusedFromMouse = false;

  nub.addEventListener("click", (ev) => {
    // Let focus events show the navigation.
    if (focusedFromMouse) return focusedFromMouse = false;

    const wasHeaderShown = header.classList.contains("shown");
    header.classList.toggle("shown");
    if (wasHeaderShown) nav.classList.remove("shown");
  });
  header.addEventListener("transitionend", function (ev) {
    if (ev.propertyName !== "width") return;
    if (header.classList.contains("shown")) nav.classList.add("shown");
  });
  header.addEventListener("focusin", function (ev) {
    if (header.classList.contains("shown")) return;
    header.classList.add("shown");
    // See https://stackoverflow.com/a/78812378/1363247
    focusedFromMouse = !event.target.matches(':focus-visible');
  });
  header.addEventListener("focusout", function (ev) {
    const isNavStillFocused = header.contains(ev.relatedTarget);
    // See https://developer.mozilla.org/en-US/docs/Glossary/Transient_activation
    const isWindowInactive = !(navigator.userActivation?.isActive ?? false);
    if (isNavStillFocused || isWindowInactive) return;

    header.classList.remove("shown");
    nav.classList.remove("shown");
  });
})();
  </script>
  <!-- TODO: <script src="/js/main.js"></script> -->
</body>
</html>
